<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bootstrap</title>
    <link rel="stylesheet" href="./code/css/bootstrap.min.css"/>
</head>
<body style="margin: 50px">
 <button class="btn btn-info">bootstrap</button>

 <p>Lorem ipsum dolor sit amet, cncidunt iste itaque labore libero possimus qui rerum voluptatem. Dolores, quo.</p>
 <p>Lorem ipsum dolor sit amet,d! Aperiam esse nesciunt omnis placeat repellendus sed. Fugit officia, quas.</p>
 <p class="lead">Lorem ipsum dolor sit amet, consect</p>
 <p>Lorem ipsum dolor sit ameeprehenderit saepe suscipit ut voluptas voluptate.</p>

 <script src="./code/js/jquery.min.js"></script>
 <script src="./code/js/bootstrap.min.js"></script>
</body>
</html>


