<html>
<head>
    <title>Spring MVC and Velocity</title>
    <link href="code/img/favicon.ico" rel=¡±SHORTCUT ICON¡± />
</head>
<body>
<h1>Spring MVC and Velocity</h1>

     $screen_content

<hr />
Copyright &copy 2015 lm
</body>
</html>